node_modules
npm-debug.log
.git
.gitignore
.env
.env*.local
.vscode
.idea
dist
build
.next
*.tsbuildinfo
__tests__
.github
.prettier*
.eslint*
docker-compose.yml
infra
!infra/fly/single/Dockerfile.single
!infra/fly/single/supervisord.conf
!infra/fly/single/nginx-single.conf
!infra/fly/single/start-single.sh
README.md
.DS_Store
